@page "/CreateAward"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@inject IAwardService awardService
<div class="card">
    <h3>Create Award</h3>
    <div class="form-group field">
        <label>Title:</label>
        <input type="text" @bind="title" @bind:event="oninput"/>
        @if (!string.IsNullOrEmpty(resultMsg))
        {
            <label style="color: @color">@resultMsg</label>
        }
    </div>
    <div class="button-row">
        <button @onclick="Create" disabled="@(string.IsNullOrEmpty(title))" class="acceptbtn">Create</button>
    </div>
</div>

@code {
    
    private string title = "";
    private string resultMsg = "";
    private string color = "";
    
    private async Task Create()
    {
        resultMsg = "";

        try
        {
            await awardService.Create(new AwardCreationDto(title));
            title = "";
            resultMsg = "Award successfully created";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }
}